{% extends 'base.html' %}

{% block content %}
    
      <div class="container" style="padding: 20px;">
        <div class="row g-4">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://cdn.idntimes.com/content-images/community/2022/07/cat-virus-exe-funny-pics-123-62c2f23a1a130-700-7ab038f296922c095203d7b12ad14adf-335ebaf64b7e676cae0108ca34056d84.jpg" class="card-img-top" alt="https://cdn.idntimes.com/content-images/community/2022/07/cat-virus-exe-funny-pics-123-62c2f23a1a130-700-7ab038f296922c095203d7b12ad14adf-335ebaf64b7e676cae0108ca34056d84.jpg">
              <div class="card-body">
                <h5 class="card-title">Kucing Ngambek</h5>
                <p class="card-text">Serasa lagi bujuk pasangan yang lagi marah karena lupa ngucapin happy anniversary nya.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://cdn.idntimes.com/content-images/community/2022/07/cat-virus-exe-funny-pics-123-62c2f23a1a130-700-7ab038f296922c095203d7b12ad14adf-335ebaf64b7e676cae0108ca34056d84.jpg" class="card-img-top" alt="https://cdn.idntimes.com/content-images/community/2022/07/cat-virus-exe-funny-pics-123-62c2f23a1a130-700-7ab038f296922c095203d7b12ad14adf-335ebaf64b7e676cae0108ca34056d84.jpg">
              <div class="card-body">
                <h5 class="card-title">Kucing Ngambek</h5>
                <p class="card-text">Serasa lagi bujuk pasangan yang lagi marah karena lupa ngucapin happy anniversary nya.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://cdn.idntimes.com/content-images/community/2022/07/cat-virus-exe-funny-pics-123-62c2f23a1a130-700-7ab038f296922c095203d7b12ad14adf-335ebaf64b7e676cae0108ca34056d84.jpg" class="card-img-top" alt="https://cdn.idntimes.com/content-images/community/2022/07/cat-virus-exe-funny-pics-123-62c2f23a1a130-700-7ab038f296922c095203d7b12ad14adf-335ebaf64b7e676cae0108ca34056d84.jpg">
              <div class="card-body">
                <h5 class="card-title">Kucing Ngambek</h5>
                <p class="card-text">Serasa lagi bujuk pasangan yang lagi marah karena lupa ngucapin happy anniversary nya.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
